/* root */
:root {

}

/* body */

body {
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* header */

.logo-up {
    color: #2E2F42;
}
/* main */

/* nav */
.no-line {
    text-decoration: none;
}

.list-li {
    list-style-type: none;
}

/* footer */

.logo-down {
    color: #F4F4FD;
}