/* root */
:root {
 --descr-text: #434455;
 --accent-text:#4D5AE5;
 --title-text:#2E2F42;
}

/* body */

body {
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* header */
.logo-header {
 color: var(--accent-text);
 text-decoration: none;
}

.logo-up {
    color: #2E2F42;
}
/* main */
.title {
    
}

.list {

}

.link {

}

.text {
    color: #434455;

}

/* nav */
.no-line {
    text-decoration: none;
}

.list-li {
    list-style-type: none;
}

/* footer */
.logo-footer {
 color: var(--accent-text);
 text-decoration: none;
}

.logo-down {
    color: #F4F4FD;
}

